.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}
.container {
    width: 30rem;
    height: 10rem;
    background-color: white;
    border-radius: 5px;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .inputContainer {
        display: flex;
    }
 
    input {
        width: 70%;
        border: none;
        border-bottom: 2px solid orange;
        padding: 1rem 5px;
        outline: none;
    }  
 
    .btn {
        width: 25%;
        padding: 1rem 5px;
        border: none;
        border-radius: 5px;
        background-color: purple;
        color: white;
        cursor: pointer;
    }
 
 
    .results {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }
}
 
